.indBack{
    background-image: url("../assets/luke-southern-9yCYGgPe5Kg-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.quienesBack{
    background-image: url("../assets/pexels-marek-levak-2265488.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.cobBack{
    background-image: url("../assets/pexels-monstera-7411910.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
