@mixin backgrounds($imageurl,$size,$repeat){
    background-image: $imageurl;
    background-size: $size;
    background-repeat: $repeat;
}

.indBack{
    @include backgrounds(url("../assets/luke-southern-9yCYGgPe5Kg-unsplash.jpg"), cover, no-repeat);
    
}

.quienesBack{
    @include backgrounds(url("../assets/pexels-marek-levak-2265488.jpg"),cover,no-repeat);
}


.cobBack{
    @include backgrounds(url("../assets/pexels-monstera-7411910.jpg"),cover,no-repeat);
    background-position:center;
}
