.cobertura{
    font-family: 'Roboto', sans-serif;
    h2{font-weight: 500;}
background: rgba(204, 202, 202, 0.45);
border-radius: 0px 0px 16px 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(204, 202, 202, 0.4);
}

.map-responsive{
    display: flex;
    flex-direction: column;
    overflow:hidden;
    padding-bottom:36.25%;
    height:0;
    margin-top: 1rem;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 0rem;
}

.map-responsive iframe{
    top:15rem;
    height:70vh;
    width:60vw;
    position:absolute;
}

/*quitar flechas type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}