body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(236, 234, 234, 0.726);
    min-height: 100%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}